body {
    background-color: #311838;
    font-family: Abel, sans-serif;
    font-size: 28px;
    font-weight: normal;
}

main {
    margin: 16px;
}

@media (min-width: 1216px) {
    .ui {
        width: 1168px;
        margin: auto;
    }
}

.clr {
    clear: both;
}

.menu {
    display: flex;
    justify-content: center;
}

.tab {
    background-color: #410a4a;
    color: white;
    padding: 0.15em 0.25em;
    font-size: 1em;
    font-family: Abel;
    font-weight: bold;
    border: 2px solid white;
    margin-top: 0.857em;
    margin-left: 0.285em;
}

#upgrades {
    margin-left: 0em;
}

#prestige {
    display: none;
}

.tab:hover {
    background-color: #5d0d61;
}

.tab:active {
    background-color: white;
    color: black;
}

.button {
    background-color: #410a4a;
    color: white;
    padding: 0.3em 0.5em;
    font-family: Abel, sans-serif;
    font-size: 0.714em;
    font-weight: normal;
    border: 1px solid white;
    margin-top: -0.82em;
    display: none;
}

.button:hover {
    background-color: #5d0d61;
}

.button:active {
    background-color: white;
    color: black;
}

.autoup {
    display: none;
    color: red;
}

.amp_area {
    display: block;
    margin-top: 0.3em;
}

#amp_button {
    margin-top: 0em;
    display: none;
}

.lvlbar {
    display: flex;
    align-items: flex-end;
}

.level {
    flex-grow: 1;
}

#lvltext {
    font-size: 1.285em;
    display: inline;
    color: white;
}

#lvlnum {
    font-family: "Josefin Sans";
    display: inline;
    color: #0055ff;
    font-size: 2.857em;
}

#exp {
    text-align: right;
    color: white;
    flex-grow: 1;
    margin-bottom: 0.48em;
}

.lvlbar2 {
    display: flex;
    align-items: flex-start;
}

#click {
    background-color: #410a4a;
    color: white;
    padding: 0.285em 0.571em;
    font-size: 1em;
    font-family: Abel, sans-serif;
    font-weight: normal;
    border: 1px solid white;
    margin-top: 0.857em;
}

#click:hover {
    background-color: #5d0d61;
}

#click:active {
    background-color: white;
    color: black;
}

.resources {
    color: white;
    text-align: right;
    flex-grow: 1;
    margin-top: 0.68em;
}

#total_exp {
    margin-top: 0em;
    margin-bottom: 0em;
}

#amp {
    margin-top: 0.1em;
    margin-bottom: 0em;
    display: none;
}

#pp {
    color: #d000ff;
    margin-top: 0.1em;
    margin-bottom: 0em;
    display: none;
}

.back {
    background: black;
    height: 1.428em;
    width: 100%;
    margin-top: 0.2em;
}

#progress {
    display: block;
    background: #0055ff;
    height: 1.428em;
    width: 0%;
}

#upgrades_page {
    display: block;
}

@media (min-width: 720px) {
    .upgrades {
        display: flex;
    }

    .item {
        flex-grow: 1;
        width: 50%;
        padding-right: 0.214em;
        align-self: self-start;
    }
}

@media (max-width: 719px) {
    .item {
        width: 100%;
        padding-right: 0.214em;
    }
}

.statistics{
    font-size: 0.714em;
    color: white;
    margin-top: 1.1em;
    display: none;
}

#stat_left {
    flex-grow: 1;
    display: inline;
    text-align: right;
    padding-right: 0.321em;
    width: 50%;
}

#stat_right {
    flex-grow: 1;
    display: inline;
    text-align: left;
    padding-left: 0.321em;
    width: 50%;
}

.settings {
    font-size: 0.857em;
    color: white;
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 1.35em;
}

.option {
    margin-bottom: 1.4em;
    display: block;
}

.option_text {
    margin-top: 0em;
    margin-bottom: 0em;
    display: inline;
}

.option_button {
    background-color: #410a4a;
    color: white;
    padding: 0.2em 0.4em;
    font-family: Abel, sans-serif;
    font-size: 1em;
    font-weight: normal;
    border: 1px solid white;
    margin-top: 0em;
}

.option_button:hover {
    background-color: #5d0d61;
}

.option_button:active {
    background-color: white;
    color: black;
}

.small {
    padding: 0em 0.2em;
    margin-left: 0.3em;
    display: inline;
}

.wipe_button {
    background-color: #410a4a;
    color: red;
    padding: 0.2em 0.4em;
    font-family: Abel, sans-serif;
    font-size: 1em;
    font-weight: normal;
    border: 1px solid white;
    margin-top: 0em;
    margin-bottom: 0em;
    display: inline;
}

.wipe_button:hover {
    background-color: #5d0d61;
}

.wipe_button:active {
    background-color: white;
    color: black;
}

.prestige {
    display: none;
    margin-top: 1.2em;
}

.pp_upgrade {
    display: flex;
    margin-bottom: 0.4em;
    background-color: #44194d;
    padding: 0.4em;
}

.pp_text {
    flex-grow: 1;
}

.pp_name {
    color: #d000ff;
    margin-top: 0em;
    margin-bottom: 0em;
}

.pp_desc {
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
}

.pp_button {
    padding: 0.285em 0.571em;
    font-size: 1em;
    font-family: Abel, sans-serif;
    font-weight: normal;
}

.pp_locked {
    background-color: black;
    color: #d000ff;
    border: 1px solid #d000ff;
}

.pp_unlocked {
    background-color: #520066;
    color: #d000ff;
    border: 1px solid #d000ff;
}

.pp_unlocked:hover {
    background-color: #d000ff;
    color: black;
    border: 1px solid #d000ff;
}

.pp_bought {
    background-color: white;
    color: black;
    border: 1px solid white;
}

#auto_config {
    display: none;
    margin-bottom: 2.4em;
    background-color: #44194d;
    padding: 0.4em;
}

.auto_header {
    color: #d000ff;
    margin-top: 0em;
    margin-bottom: 0em;
    display: block;
}

.goal_text {
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
    display: inline;
}

.goal_input {
    background-color: #410a4a;
    width: 5em;
    color: white;
    padding: 0.1em 0.25em;
    font-family: Abel, sans-serif;
    font-size: 0.714em;
    font-weight: normal;
    border: 1px solid white;
    display: inline;
}

#auto_level {
    display: block;
    margin-top: 0.1em;
}

#amp_up {
    margin-top: 0.35em;
}

#pp_up {
    color: #d000ff;
    margin-top: 0.35em;
}

.uptext {
    color: white;
    font-size: 24px;
    display: none;
    margin-bottom: 0.3em;
}

.info {
    color: white;
    font-size: 0.714em;
    margin-bottom: 0em;
}

.link {
    color: #ff00bb
}

.link:hover {
    color: #cc0088
}

.title {
    font-family: "Josefin Sans";
    font-size: 2.857em;
    color: #ff00bb;
    margin-top: 0.4em;
    margin-bottom: 0.8em;
}

.change_head {
    color: white;
    margin-top: 0em;
    margin-bottom: 0em;
}

.change_minor {
    color: #aaaaaa;
    margin-top: 0em;
    margin-bottom: 0em;
}

.change_major {
    color: #ff00bb;
    font-size: 1.4em;
    margin-top: 0em;
    margin-bottom: 0em;
}
